<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<!--<body ng-app="videoapp" ng-controller="videoController" data-ng-init="CollectionLoad()">-->
<body ng-app="videoapp" ng-controller="videoController" ng-init="<%= collection %>Load()">

<% include partials/nav.ejs %>
<!-- old offset was 105 -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 video-collection <%= collection %>" id="video-collection-wrapper" ng-style="resizeWithOffset(81)" resize>
    <div ng-if="videoCollection.collection.err"><span>{{<%= collection %>.collection}}</span></div>
    <div ng-repeat="vid in <%= collection %>.collection">
        <div ng-class="['col-xs-12', 'col-sm-12', 'col-md-12', 'col-lg-12', 'video-item-wrapper', vid.activeHover ? 'active' : '']" ng-if="vid.poster_path" ng-mouseenter="vid.activeHover = true" ng-mouseleave="vid.activeHover = false">
            <% include partials/videoBlockFullWidth %>
        </div>
    </div>
    <p ng-hide="<%= collection %>.collection.length">No matching videos located.</p>
</div>

<span ng-show="<%= collection %>.collection.length" class="videos-found clear f-left">Videos Found: {{<%= collection %>.collection.length}}</span>
<div class="clearer"></div>
<% include partials/footer.ejs %>
</body>
</html>